body {
	background-color: rgb(30, 31, 38);
	color: lightgrey;
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 1.6em;
	font-weight: 300;
	letter-spacing: .01em;
	line-height: 1.6;
	margin: 0;
	text-align: center;
}

.connected {
	font-size: 3rem;
}
.connected small{
	font-size: 1rem;
}

.wait {
	color: lightgrey;
	background-color: currentColor;
	will-change: transform;
	width: 4rem;
	border-radius: 2rem;
	padding: 1.2rem;
	margin: 40vh auto 2rem;
	position: relative;
	animation: 2s bulge infinite ease-out;
}
.wait::before,
.wait::after {
	content: '';
	position: absolute;
	bottom: -.2rem;
	left: -.2rem;
	height: 1.2rem;
	width: 1.2rem;;
	border-radius: 50%;
	background-color: currentColor;
}
.wait::after {
	height: .6rem;
	width: .6rem;
	left: -.6rem;
	bottom: -.6rem;
}
.wait span,
.wait span::before,
.wait span::after {
	content: '';
	height: 1rem;
	width: 1rem;
	background-color: grey;
	display: block;
	border-radius: 50%;
	opacity: 0.4;
	animation: 1s blink infinite .333s;
}
.wait span::before {
	margin-left: 1.5rem;
	animation: 1s blink infinite .666s;
}
.wait span::after {
	margin-left: 3rem;
	margin-top: -1rem;
	animation: 1s blink infinite .999s;
}

@keyframes blink {
	50% {
		opacity: 1;
	}
}

@keyframes bulge {
	50% {
		transform: scale(1.05);
	}
}

/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.checkmark {
	width: 80px;
	margin: 0 auto;
 }
 .checkmark .success {
	width: 80px;
	height: 80px;
	position: relative;
	border-radius: 50%;
	box-sizing: content-box;
	border: 4px solid #4CAF50;
}
.checkmark .success::before {
	top: 3px;
	left: -2px;
	width: 30px;
	transform-origin: 100% 50%;
	border-radius: 100px 0 0 100px;
}
.checkmark .success::after {
	top: 0;
	left: 30px;
	width: 60px;
	transform-origin: 0 50%;
	border-radius: 0 100px 100px 0;
	animation: rotate 4.25s ease-in;
}
.checkmark .success::before,
.checkmark .success::after {
	content: '';
	height: 100px;
	position: absolute;
	background: rgb(30, 31, 38);
	transform: rotate(-45deg);
}
.checkmark .success .tip,
.checkmark .success .long {
	height: 5px;
	background-color: #4CAF50;
	display: block;
	border-radius: 2px;
	position: absolute;
	z-index: 10;
}
.checkmark .success .tip {
	top: 46px;
	left: 14px;
	width: 25px;
	transform: rotate(45deg);
	animation: tip 0.75s;
}
.checkmark .success .long {
	top: 38px;
	right: 8px;
	width: 47px;
	transform: rotate(-45deg);
	animation: long 0.75s;
}
.checkmark .success .circle {
	top: -4px;
	left: -4px;
	z-index: 10;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	box-sizing: content-box;
	border: 4px solid rgba(76, 175, 80, .5);
}
.checkmark .success .fix {
	top: 8px;
	width: 5px;
	left: 26px;
	z-index: 1;
	height: 85px;
	position: absolute;
	transform: rotate(-45deg);
	background-color: rgb(30, 31, 38);
}


@keyframes rotate {
	0% {
		transform: rotate(-45deg);
	}
	5% {
		transform: rotate(-45deg);
	}
	12% {
		transform: rotate(-405deg);
	}
	100% {
		transform: rotate(-405deg);
	}
}

@keyframes tip {
	0% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	54% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	70% {
		width: 50px;
		left: -8px;
		top: 37px;
	}
	84% {
		width: 17px;
		left: 21px;
		top: 48px;
	}
	100% {
		width: 25px;
		left: 14px;
		top: 45px;
	}
}

@keyframes long {
	0% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	65% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	84% {
		width: 55px;
		right: 0px;
		top: 35px;
	}
	100% {
		width: 47px;
		right: 8px;
		top: 38px;
	}
}
